body{
  font-family: 'Tomorrow', sans-serif;
  padding: 0;
  margin: 0;
  outline: none;
}
.App {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.navbar ul{
  margin: 0;
  padding: 2vh;
  text-align: center;
  background: black;
}
.navbar a{
  color: white;
  display: inline;
  padding: 1vh;
  transition: 0.4s;
}
a:hover{
  color: yellow;
}
h3{
  font-family: 'Wallpoet', cursive;
}
ul{
  padding: 0;
}
.screen{
  
  background: radial-gradient( #fafafb,#afb4b4);
}
.screen img{
  width: 100px;
}
.center_screen{
  width: 100%;
  padding: 15px;
}
.sits ul{
  list-style: none;
}
.sits li{
  display: inline-block;
  margin: 10px;
  border-radius: 10px;
}
.cheap{
  transition: 1s;
  width: 40px;
  height: 60px;
  background: grey;
}
.usual{
  transition: 1s;
  width: 40px;
  height: 60px;
  background: lightgreen
} 
.vip{
  transition: 1s;
  width: 40px;
  height: 60px;
  background: gold;
}
.lounge{
  margin: auto;
  margin-top: 10px;
  width: 53%;
}
.cross{
  margin-top: 10px;
}
.cross:before, .cross:after {
  position: absolute;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.cross:before {
  transform: rotate(45deg);
}
.cross:after {
  transform: rotate(-45deg);
}

.booked{
  width: 40px;
  height: 60px;
  background: lightgrey;
}
.activated{
  transition: 1s;
  opacity: 0;
  display: none;
}
.activated.cheap{
  opacity: 1;
  background: grey;
  animation-fill-mode: forwards;
}
.activated.usual{
  opacity: 1;
  background: rgb(131, 219, 131) !important;
  animation-fill-mode: forwards;
}
.activated.vip{
  opacity: 1;
  background: gold;
  animation-fill-mode: forwards;
}
.orders{
  min-width: 19%;
}
.chosen-tab{
  list-style: none;
  text-align: right;
}
.chosen-tab li{
  border-radius: 20px;
  margin-top: 15px;
  display: flex;
  font-size: 17px;
  background: rgb(142, 179, 228);
  padding: 15px;
}
.chosen-tab strong{
  float: left;
}
.chosen-tab .cross2{
  margin-left: auto;
}
.cross2{
  padding-left: 15px;
  margin-top: 3px;
  cursor: pointer;
  position: relative;
}
.cross2:before, .cross2:after {
  position: absolute;
  content: ' ';
  height: 15px;
  width: 2px;
  background-color: #333;
}
.cross2:before {
  transform: rotate(45deg);
}
.cross2:after {
  transform: rotate(-45deg);
}
.approveBtn{
  outline: none;
  margin-top: 20px;
  border: 3px solid #2C5F2D;
  background: none;
  padding: 12px;
  border-radius: 10px;
  transition: 0.6s ease-in-out;
}
.approveBtn:hover{
  background: #97BC62FF;
}
.approveBtn:focus{
  background: rgb(90, 180, 127);
}
.container{
  text-align: center;
  color: white;
}
.container h1{
  margin:0;
  padding: 25px;
}
.container{
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url('./assets/Vader.jpg');
  min-height: 94vh;
  background-repeat: no-repeat;

}
.hall-block{
  margin: auto;
  margin-top: 30px;
  height:400px;
  width:250px;
  border: 1px solid white;
  border-radius: 10px;
  background: url('./assets/back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  transition: 1s;
  overflow: hidden;
  cursor: pointer;
}

.timer{
  display: flex;
}